* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

header {
    background: black;
    height: 100%;
    width: 100%;
}

video {
    height: 100vh;
    opacity: 0.3;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(0%, -50%);

    color: white;
    border-bottom: 5px solid rgb(255, 100, 100);
    font-size: 200%;
    font-family: 'Poppins';
}

h2 {
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(0%, -50%);
    
    color: #DDD;
    font-family: 'Roboto';
    max-width: 800px;
    padding-right: 10%;
}

#button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: rgb(255, 100, 100);
    padding: 15px;
    border-radius: 7px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-shadow: 1px 1px 2px;
}

#button:hover {
    animation: right 0.4s;
}

@keyframes right {
    0% {
        right: 15px;
    }
    
    30% {
        right: 20px;
    }

    60% {
        right: 10px;
    }

    90% {
        right: 16px;
    }

    100% {
        right: 15px;
    }
}
